/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-img-fork {
  background-image: url(../assets/images/s.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.sprite-img-capsules {
  background-image: url(../assets/images/s.png);
  background-position: 0px -464px;
  width: 640px;
  height: 567px;
}
.sprite-img-heartbeat {
  background-image: url(../assets/images/s.png);
  background-position: 0px -102px;
  width: 640px;
  height: 360px;
}
.sprite-img-nurse {
  background-image: url(../assets/images/s.png);
  background-position: 0px -1033px;
  width: 537px;
  height: 640px;
}
.sprite-img-github {
  background-image: url(../assets/images/s.png);
  background-position: 0px -34px;
  width: 32px;
  height: 32px;
}
.sprite-img-twitter {
  background-image: url(../assets/images/s.png);
  background-position: 0px -68px;
  width: 32px;
  height: 32px;
}
